
/* Info Box */
.confluence-information-macro.confluence-information-macro-information.conf-macro.output-block {
    background: antiquewhite;
}

/* Table header */
/* .aui .jira-tablesorter-header {
    background: antiquewhite !important;
} */
.aui tbody tr:nth-child(2) {
    background: aqua !important;
}
