#customfieldmodule #customfield-tabs .tabs-menu {
	border-bottom: 1px solid #ccc;
}
.aui-tabs.horizontal-tabs > .tabs-menu:before {
	display: none;
}

/* Tabs */
.menu-item > a:focus {
	outline: none !important;
	box-shadow: none !important;
}

li.menu-item {
	background-color: #eee;
	min-width: 125px;
	text-align: center;
	border: solid 2px #fff;
	border-bottom: none;
	border-top: none;
	border-radius: 10px 10px 0px 0;
}

li.menu-item.active-tab {
	background: #f2c12e;
}

.menu-item.active-tab > a {
	color: #000 !important;
}

.involved-systems {
	min-height: 20px;
}

a.issue-link.link-title {
	min-width: 80px;
	display: inline-block;
}
.co-details {
	position: absolute;
	left: 250px;
	top: 1px;
}

.sys-pill {
	display: inline-block;
	background-color: #dafffb;
	color: #04364a;
	margin: 2px;
	padding: 2px 5px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 500;
	border: 1px solid #04364a;
	min-width: 80px;
	text-align: center;
}
.co-version {
	display: inline-block;
	background-color: #e8f9f8;
	font-style: italic;
	font-weight: bold;
	font-size: small;
	
    width: 60px;
    overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
    top: 5px;
}
.co-summary {
	display: inline-block;
	padding: 2px 0;
	margin-left: 65px;
}
.co-dates {
	display: inline-block;
	position: absolute;
	padding: 5px;
	border-radius: 3px;
}
.error {
	background-color: #fce8e8 !important;
	color: #8e1111;
}
